{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header text-white" style="background-color: #FF9A9A;">
                    <h4 class="title">About This Blog</h4>
                </div>
                <div class="card-body">
                    <p>Welcome to my blog! This is a space where I share my thoughts, tutorials, and news about programming, especially Django and web development.</p>
                    <p>The goal of this blog is to educate, inspire, and help developers by providing clear and concise content.</p>
                    <p>Feel free to browse through the posts, leave comments, or reach out if you have questions.</p>
                    <hr>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
