{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
  <style>

  </style>

<nav class="navbar navbar-expand-lg" >
  <div class="container">
    <a class="navbar-brand text-white first" href="{% url 'show_post' %}">BlogSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link  text-white" aria-current="page" href="{%  url 'show_post'  %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" href="{% url 'about' %}">about</a>
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'update' %}">{{ user.username }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
  </li>
{% else %}
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'register' %}">Signup</a>
  </li>
{% endif %}

     
      </ul>
    </div>
  </div>
</nav>



{% block content %}
{% endblock %}




{% comment %} footer {% endcomment %}

<footer class="text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>My Blog</h5>
                <p>Your go-to place for amazing articles and stories.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home_page' %}" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-white text-decoration-none">About</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
        <hr class="border-top border-light">
        <p class="text-center mb-0">&copy; 2025 My Blog. All rights reserved.</p>
    </div>
</footer>









<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>    